{
  "openapi": "3.0.3",
  "info": {
    "title": "Sendry API",
    "description": "Sendry is a modern email sending API for transactional and marketing email. Authenticate with a Bearer token using your API key.",
    "version": "2.5.0",
    "contact": {
      "name": "Sendry Support",
      "email": "support@sendry.online",
      "url": "https://sendry.online/contact"
    }
  },
  "servers": [
    {
      "url": "https://api.sendry.online",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Emails",
      "description": "Send and manage transactional emails"
    },
    {
      "name": "Domains",
      "description": "Domain verification and DNS management"
    },
    {
      "name": "API Keys",
      "description": "Create and manage API keys"
    },
    {
      "name": "Webhooks",
      "description": "Event webhook subscriptions"
    },
    {
      "name": "Templates",
      "description": "Email template CRUD and rendering"
    },
    {
      "name": "Analytics",
      "description": "Email analytics and event logs"
    },
    {
      "name": "Suppression",
      "description": "Suppression list management"
    },
    {
      "name": "Unsubscribes",
      "description": "Unsubscribe list management"
    },
    {
      "name": "Inbound",
      "description": "Inbound email routing and configuration"
    },
    {
      "name": "Contacts",
      "description": "Contact management"
    },
    {
      "name": "Audiences",
      "description": "Audience (contact list) management"
    },
    {
      "name": "Campaigns",
      "description": "Broadcast campaign management"
    },
    {
      "name": "Organizations",
      "description": "Organization settings"
    },
    {
      "name": "Deliverability",
      "description": "Reputation tracking, blocklist monitoring, and deliverability reports"
    },
    {
      "name": "Dedicated IPs",
      "description": "Dedicated IP address provisioning and warmup management"
    },
    {
      "name": "Regions",
      "description": "Multi-region SES sending configuration and data residency"
    },
    {
      "name": "System",
      "description": "Version info, changelog, and health"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Use your Sendry API key as a Bearer token. Create API keys in the dashboard or via the API Keys endpoint."
      }
    },
    "schemas": {}
  },
  "paths": {
    "/v1/version": {
      "get": {
        "summary": "Get API version info",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "API version information",
            "content": {
              "application/json": {
                "schema": {
                  "description": "API version information",
                  "type": "object",
                  "required": [
                    "version",
                    "api_version"
                  ],
                  "properties": {
                    "version": {
                      "description": "Current API version",
                      "examples": [
                        "1.2.1"
                      ],
                      "type": "string"
                    },
                    "api_version": {
                      "description": "API specification version",
                      "examples": [
                        "v1"
                      ],
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV1Version"
      }
    },
    "/v1/changelog": {
      "get": {
        "summary": "Get public changelog entries",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "Public changelog",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Public changelog",
                  "type": "object",
                  "required": [
                    "entries"
                  ],
                  "properties": {
                    "entries": {
                      "description": "Changelog entries ordered newest first",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "version",
                          "date",
                          "changes"
                        ],
                        "properties": {
                          "version": {
                            "description": "Release version",
                            "type": "string"
                          },
                          "date": {
                            "description": "Release date (ISO 8601)",
                            "type": "string"
                          },
                          "changes": {
                            "description": "List of changes in this release",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "type",
                                "description"
                              ],
                              "properties": {
                                "type": {
                                  "description": "Change type (added, improved, fixed)",
                                  "type": "string"
                                },
                                "description": {
                                  "description": "Change description",
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV1Changelog"
      }
    },
    "/v1/status/": {
      "get": {
        "summary": "Get current system status",
        "description": "Returns the current operational status of all Sendry components and any active incidents.",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "last_checked_at",
                    "components",
                    "active_incidents",
                    "sla_summary"
                  ],
                  "properties": {
                    "status": {
                      "description": "Overall system status",
                      "type": "string"
                    },
                    "last_checked_at": {
                      "description": "ISO timestamp of the most recent health check, or null if worker never ran",
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "components": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "description",
                          "group",
                          "slug",
                          "status",
                          "uptime_90d",
                          "sla_target",
                          "sla_met",
                          "current_response_time_ms"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "group": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "slug": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "uptime_90d": {
                            "type": "number"
                          },
                          "sla_target": {
                            "description": "SLA uptime target as a percentage (e.g. 99.95)",
                            "type": "number"
                          },
                          "sla_met": {
                            "description": "Whether current 90-day uptime meets the SLA target",
                            "type": "boolean"
                          },
                          "current_response_time_ms": {
                            "description": "Latest health check response time in ms",
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        }
                      }
                    },
                    "active_incidents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "title",
                          "status",
                          "impact",
                          "starts_at",
                          "ends_at",
                          "resolved_at",
                          "created_at",
                          "updated_at",
                          "updates",
                          "affected_components"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "impact": {
                            "type": "string"
                          },
                          "starts_at": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "ends_at": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "resolved_at": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "updates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "id",
                                "status",
                                "message",
                                "created_at"
                              ],
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "message": {
                                  "type": "string"
                                },
                                "created_at": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "affected_components": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "id",
                                "name",
                                "slug"
                              ],
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "slug": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "sla_summary": {
                      "type": "object",
                      "required": [
                        "target",
                        "current_uptime",
                        "sla_met"
                      ],
                      "properties": {
                        "target": {
                          "description": "Overall system SLA target percentage",
                          "type": "number"
                        },
                        "current_uptime": {
                          "description": "Current average uptime across all components",
                          "type": "number"
                        },
                        "sla_met": {
                          "description": "Whether the system is currently meeting its SLA",
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV1Status"
      }
    },
    "/v1/status/history": {
      "get": {
        "summary": "Get incident history",
        "description": "Returns a paginated list of resolved incidents ordered by most recent first.",
        "tags": [
          "System"
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "default": 20,
              "minimum": 1,
              "maximum": 100,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "has_more",
                    "next_cursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "title",
                          "status",
                          "impact",
                          "starts_at",
                          "ends_at",
                          "resolved_at",
                          "created_at",
                          "updated_at",
                          "updates",
                          "affected_components"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "impact": {
                            "type": "string"
                          },
                          "starts_at": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "ends_at": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "resolved_at": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "updates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "id",
                                "status",
                                "message",
                                "created_at"
                              ],
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "message": {
                                  "type": "string"
                                },
                                "created_at": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "affected_components": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "id",
                                "name",
                                "slug"
                              ],
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "slug": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV1StatusHistory"
      }
    },
    "/v1/status/latency": {
      "get": {
        "summary": "Get API latency statistics",
        "description": "Returns hourly P50/P95/P99 latency rollups for a component over the specified time window.",
        "tags": [
          "System"
        ],
        "parameters": [
          {
            "name": "component",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Component slug (e.g. api-gateway)",
              "default": "api-gateway",
              "type": "string"
            }
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Number of hours of history to return",
              "default": 24,
              "minimum": 1,
              "maximum": 168,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "component",
                    "target_ms",
                    "current_p50_ms",
                    "target_met",
                    "hourly"
                  ],
                  "properties": {
                    "component": {
                      "type": "string"
                    },
                    "target_ms": {
                      "description": "Target median response time in milliseconds",
                      "type": "number"
                    },
                    "current_p50_ms": {
                      "description": "Current P50 latency in ms, or null if no data",
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "target_met": {
                      "description": "Whether current P50 is within target",
                      "type": "boolean"
                    },
                    "hourly": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "hour",
                          "p50_ms",
                          "p95_ms",
                          "p99_ms",
                          "sample_count",
                          "target_met_pct"
                        ],
                        "properties": {
                          "hour": {
                            "description": "ISO 8601 timestamp for this hour bucket",
                            "type": "string"
                          },
                          "p50_ms": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "p95_ms": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "p99_ms": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "sample_count": {
                            "type": "number"
                          },
                          "target_met_pct": {
                            "description": "Percentage of requests within target in this hour",
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV1StatusLatency"
      }
    },
    "/v1/plans": {
      "get": {
        "summary": "List available plans",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "plans"
                  ],
                  "properties": {
                    "plans": {
                      "description": "Array of available plan configurations"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Missing or invalid API key",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "unauthorized",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Insufficient API key scope",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Insufficient API key scope",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "forbidden",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Validation error response",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "validation_error",
                          "type": "string"
                        },
                        "message": {
                          "description": "Validation error details",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Rate limit exceeded",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "rate_limited",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retry_after": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal server error",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "internal_error",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV1Plans"
      }
    },
    "/v1/api-keys/": {
      "post": {
        "summary": "Create API key",
        "description": "Creates a new API key. The full key is only returned once.",
        "tags": [
          "API Keys"
        ],
        "requestBody": {
          "description": "Create API key request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Create API key request body",
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Human-readable name for the API key",
                    "examples": [
                      "Production Key"
                    ],
                    "type": "string"
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "full_access",
                      "sending_access",
                      "read_only"
                    ]
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "live",
                      "test"
                    ]
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "description": "Create API key request body",
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Human-readable name for the API key",
                    "examples": [
                      "Production Key"
                    ],
                    "type": "string"
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "full_access",
                      "sending_access",
                      "read_only"
                    ]
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "live",
                      "test"
                    ]
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "description": "Create API key request body",
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Human-readable name for the API key",
                    "examples": [
                      "Production Key"
                    ],
                    "type": "string"
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "full_access",
                      "sending_access",
                      "read_only"
                    ]
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "live",
                      "test"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Newly created API key (includes the full key)",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Newly created API key (includes the full key)",
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "scope",
                    "mode",
                    "key",
                    "created_at"
                  ],
                  "properties": {
                    "id": {
                      "description": "Unique API key ID",
                      "type": "string"
                    },
                    "name": {
                      "description": "Human-readable key name",
                      "type": "string"
                    },
                    "scope": {
                      "description": "Permission scope",
                      "type": "string"
                    },
                    "mode": {
                      "description": "Key mode: live or test",
                      "type": "string"
                    },
                    "key": {
                      "description": "The full API key. Only shown once at creation time.",
                      "examples": [
                        "sk_live_abc123def456"
                      ],
                      "type": "string"
                    },
                    "created_at": {
                      "description": "ISO 8601 creation timestamp",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Missing or invalid API key",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "unauthorized",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Insufficient API key scope",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Insufficient API key scope",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "forbidden",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Validation error response",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "validation_error",
                          "type": "string"
                        },
                        "message": {
                          "description": "Validation error details",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Rate limit exceeded",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "rate_limited",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retry_after": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal server error",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "internal_error",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "postV1Api-keys"
      },
      "get": {
        "summary": "List API keys",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "default": 50,
              "maximum": 100,
              "description": "Number of results per page (1-100, default 50)",
              "anyOf": [
                {
                  "format": "numeric",
                  "default": 0,
                  "type": "string"
                },
                {
                  "default": 50,
                  "maximum": 100,
                  "description": "Number of results per page (1-100, default 50)",
                  "type": "number"
                }
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Cursor for pagination. Use next_cursor from previous response.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated API key list",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Paginated API key list",
                  "type": "object",
                  "required": [
                    "data",
                    "has_more",
                    "next_cursor"
                  ],
                  "properties": {
                    "data": {
                      "description": "Array of API key records",
                      "type": "array",
                      "items": {
                        "description": "API key details (key value is redacted)",
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "scope",
                          "mode",
                          "key_prefix",
                          "last_used_at",
                          "created_at"
                        ],
                        "properties": {
                          "id": {
                            "description": "Unique API key ID",
                            "examples": [
                              "key_abc123"
                            ],
                            "type": "string"
                          },
                          "name": {
                            "description": "Human-readable key name",
                            "type": "string"
                          },
                          "scope": {
                            "description": "Permission scope (full_access, sending_access, read_only)",
                            "type": "string"
                          },
                          "mode": {
                            "description": "Key mode: live or test",
                            "type": "string"
                          },
                          "key_prefix": {
                            "description": "First 8 characters of the key for identification",
                            "examples": [
                              "sk_live_a"
                            ],
                            "type": "string"
                          },
                          "last_used_at": {
                            "nullable": true,
                            "anyOf": [
                              {
                                "description": "ISO 8601 timestamp of last API call with this key",
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "created_at": {
                            "description": "ISO 8601 creation timestamp",
                            "type": "string"
                          }
                        }
                      }
                    },
                    "has_more": {
                      "description": "Whether more results exist after this page",
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "nullable": true,
                      "anyOf": [
                        {
                          "description": "Cursor to pass for the next page, null if no more results",
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Missing or invalid API key",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "unauthorized",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Insufficient API key scope",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Insufficient API key scope",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "forbidden",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Validation error response",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "validation_error",
                          "type": "string"
                        },
                        "message": {
                          "description": "Validation error details",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Rate limit exceeded",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "rate_limited",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retry_after": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal server error",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "internal_error",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV1Api-keys"
      }
    },
    "/v1/api-keys/{id}": {
      "delete": {
        "summary": "Revoke API key",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Deletion confirmation",
                  "type": "object",
                  "required": [
                    "deleted"
                  ],
                  "properties": {
                    "deleted": {
                      "description": "Always true on success",
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Missing or invalid API key",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "unauthorized",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Insufficient API key scope",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Insufficient API key scope",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "forbidden",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Resource not found",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "not_found",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Validation error response",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "validation_error",
                          "type": "string"
                        },
                        "message": {
                          "description": "Validation error details",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Rate limit exceeded",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "rate_limited",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retry_after": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal server error",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "internal_error",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "deleteV1Api-keysById"
      }
    },
    "/v1/domains/": {
      "post": {
        "summary": "Add a domain",
        "tags": [
          "Domains"
        ],
        "requestBody": {
          "description": "Add domain request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Add domain request body",
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "minLength": 3,
                    "maxLength": 253,
                    "description": "Fully qualified domain name to register",
                    "examples": [
                      "acme.com"
                    ],
                    "type": "string"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "description": "Add domain request body",
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "minLength": 3,
                    "maxLength": 253,
                    "description": "Fully qualified domain name to register",
                    "examples": [
                      "acme.com"
                    ],
                    "type": "string"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "description": "Add domain request body",
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "minLength": 3,
                    "maxLength": 253,
                    "description": "Fully qualified domain name to register",
                    "examples": [
                      "acme.com"
                    ],
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain details",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Domain details",
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "status",
                    "dns_records",
                    "created_at"
                  ],
                  "properties": {
                    "id": {
                      "description": "Unique domain ID",
                      "examples": [
                        "dom_abc123"
                      ],
                      "type": "string"
                    },
                    "name": {
                      "description": "Domain name",
                      "examples": [
                        "acme.com"
                      ],
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "verified",
                        "failed"
                      ]
                    },
                    "region": {
                      "nullable": true,
                      "anyOf": [
                        {
                          "description": "Preferred SES sending region for this domain",
                          "examples": [
                            "eu-west-1"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "tls_policy": {
                      "type": "string",
                      "enum": [
                        "opportunistic",
                        "enforced"
                      ]
                    },
                    "custom_return_path": {
                      "nullable": true,
                      "anyOf": [
                        {
                          "description": "Custom subdomain for SPF alignment and bounce handling (e.g. 'send.yourdomain.com'). Must be a subdomain of the verified domain.",
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "dns_records": {
                      "description": "DNS records required for verification",
                      "type": "array",
                      "items": {
                        "description": "DNS record details",
                        "type": "object",
                        "required": [
                          "type",
                          "host",
                          "value",
                          "name",
                          "verified"
                        ],
                        "properties": {
                          "type": {
                            "description": "DNS record type",
                            "examples": [
                              "TXT"
                            ],
                            "type": "string"
                          },
                          "host": {
                            "description": "DNS record hostname",
                            "examples": [
                              "_dmarc.acme.com"
                            ],
                            "type": "string"
                          },
                          "value": {
                            "description": "DNS record value",
                            "type": "string"
                          },
                          "name": {
                            "description": "Human-readable record name",
                            "examples": [
                              "DKIM"
                            ],
                            "type": "string"
                          },
                          "priority": {
                            "description": "DNS record priority (for MX records)",
                            "type": "number"
                          },
                          "verified": {
                            "description": "Whether this specific DNS record has been verified",
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "created_at": {
                      "description": "ISO 8601 creation timestamp",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Missing or invalid API key",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "unauthorized",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Insufficient API key scope",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Insufficient API key scope",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "forbidden",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Validation error response",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "validation_error",
                          "type": "string"
                        },
                        "message": {
                          "description": "Validation error details",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Rate limit exceeded",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "rate_limited",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retry_after": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal server error",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "internal_error",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "postV1Domains"
      },
      "get": {
        "summary": "List domains",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "default": 50,
              "maximum": 100,
              "description": "Number of results per page (1-100, default 50)",
              "anyOf": [
                {
                  "format": "numeric",
                  "default": 0,
                  "type": "string"
                },
                {
                  "default": 50,
                  "maximum": 100,
                  "description": "Number of results per page (1-100, default 50)",
                  "type": "number"
                }
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Cursor for pagination. Use next_cursor from previous response.",
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Search by domain name (case-insensitive)",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated domain list",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Paginated domain list",
                  "type": "object",
                  "required": [
                    "data",
                    "has_more",
                    "next_cursor",
                    "total"
                  ],
                  "properties": {
                    "data": {
                      "description": "Array of domain records",
                      "type": "array",
                      "items": {
                        "description": "Domain details",
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "status",
                          "dns_records",
                          "created_at"
                        ],
                        "properties": {
                          "id": {
                            "description": "Unique domain ID",
                            "examples": [
                              "dom_abc123"
                            ],
                            "type": "string"
                          },
                          "name": {
                            "description": "Domain name",
                            "examples": [
                              "acme.com"
                            ],
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "verified",
                              "failed"
                            ]
                          },
                          "region": {
                            "nullable": true,
                            "anyOf": [
                              {
                                "description": "Preferred SES sending region for this domain",
                                "examples": [
                                  "eu-west-1"
                                ],
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "tls_policy": {
                            "type": "string",
                            "enum": [
                              "opportunistic",
                              "enforced"
                            ]
                          },
                          "custom_return_path": {
                            "nullable": true,
                            "anyOf": [
                              {
                                "description": "Custom subdomain for SPF alignment and bounce handling (e.g. 'send.yourdomain.com'). Must be a subdomain of the verified domain.",
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "dns_records": {
                            "description": "DNS records required for verification",
                            "type": "array",
                            "items": {
                              "description": "DNS record details",
                              "type": "object",
                              "required": [
                                "type",
                                "host",
                                "value",
                                "name",
                                "verified"
                              ],
                              "properties": {
                                "type": {
                                  "description": "DNS record type",
                                  "examples": [
                                    "TXT"
                                  ],
                                  "type": "string"
                                },
                                "host": {
                                  "description": "DNS record hostname",
                                  "examples": [
                                    "_dmarc.acme.com"
                                  ],
                                  "type": "string"
                                },
                                "value": {
                                  "description": "DNS record value",
                                  "type": "string"
                                },
                                "name": {
                                  "description": "Human-readable record name",
                                  "examples": [
                                    "DKIM"
                                  ],
                                  "type": "string"
                                },
                                "priority": {
                                  "description": "DNS record priority (for MX records)",
                                  "type": "number"
                                },
                                "verified": {
                                  "description": "Whether this specific DNS record has been verified",
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "created_at": {
                            "description": "ISO 8601 creation timestamp",
                            "type": "string"
                          }
                        }
                      }
                    },
                    "has_more": {
                      "description": "Whether more results exist after this page",
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "nullable": true,
                      "anyOf": [
                        {
                          "description": "Cursor to pass for the next page, null if no more results",
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "total": {
                      "description": "Total number of records matching the current filters",
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Missing or invalid API key",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "unauthorized",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Insufficient API key scope",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Insufficient API key scope",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "forbidden",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Validation error response",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "validation_error",
                          "type": "string"
                        },
                        "message": {
                          "description": "Validation error details",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Rate limit exceeded",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "rate_limited",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retry_after": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal server error",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "internal_error",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV1Domains"
      }
    },
    "/v1/domains/{id}": {
      "get": {
        "summary": "Get domain details",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Domain details",
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "status",
                    "dns_records",
                    "created_at"
                  ],
                  "properties": {
                    "id": {
                      "description": "Unique domain ID",
                      "examples": [
                        "dom_abc123"
                      ],
                      "type": "string"
                    },
                    "name": {
                      "description": "Domain name",
                      "examples": [
                        "acme.com"
                      ],
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "verified",
                        "failed"
                      ]
                    },
                    "region": {
                      "nullable": true,
                      "anyOf": [
                        {
                          "description": "Preferred SES sending region for this domain",
                          "examples": [
                            "eu-west-1"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "tls_policy": {
                      "type": "string",
                      "enum": [
                        "opportunistic",
                        "enforced"
                      ]
                    },
                    "custom_return_path": {
                      "nullable": true,
                      "anyOf": [
                        {
                          "description": "Custom subdomain for SPF alignment and bounce handling (e.g. 'send.yourdomain.com'). Must be a subdomain of the verified domain.",
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "dns_records": {
                      "description": "DNS records required for verification",
                      "type": "array",
                      "items": {
                        "description": "DNS record details",
                        "type": "object",
                        "required": [
                          "type",
                          "host",
                          "value",
                          "name",
                          "verified"
                        ],
                        "properties": {
                          "type": {
                            "description": "DNS record type",
                            "examples": [
                              "TXT"
                            ],
                            "type": "string"
                          },
                          "host": {
                            "description": "DNS record hostname",
                            "examples": [
                              "_dmarc.acme.com"
                            ],
                            "type": "string"
                          },
                          "value": {
                            "description": "DNS record value",
                            "type": "string"
                          },
                          "name": {
                            "description": "Human-readable record name",
                            "examples": [
                              "DKIM"
                            ],
                            "type": "string"
                          },
                          "priority": {
                            "description": "DNS record priority (for MX records)",
                            "type": "number"
                          },
                          "verified": {
                            "description": "Whether this specific DNS record has been verified",
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "created_at": {
                      "description": "ISO 8601 creation timestamp",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Missing or invalid API key",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "unauthorized",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Insufficient API key scope",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Insufficient API key scope",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "forbidden",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Resource not found",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "not_found",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Validation error response",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "validation_error",
                          "type": "string"
                        },
                        "message": {
                          "description": "Validation error details",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Rate limit exceeded",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "rate_limited",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retry_after": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal server error",
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "const": "internal_error",
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV1DomainsById"
      },
      "patch": {
        "summary": "Update domain settings (TLS policy, return path)",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Domain update request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Domain update request body",
                "type": "object",
                "properties": {
                  "tls_policy": {
                    "type": "string",
                    "enum": [
                      "opportunistic",
                      "enforced"
                    ]
                  },
                  "custom_return_path": {
                    "nullable": true,
                    "anyOf": [
                      {
                        "description": "Custom subdomain for SPF alignment and bounce handling (e.g. 'send.yourdomain.com'). Must be a subdomain of the verified domain.",
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "description": "Domain update request body",
                "type": "object",
                "properties": {
                  "tls_policy": {
                    "type": "string",
                    "enum": [
                      "opportunistic",
                      "enforced"
                    ]
                  },
                  "custom_return_path": {
                    "nullable": true,
                    "anyOf": [
                      {
[...]
